<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funza</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/navbar-n.css' %}">
    <link rel="icon" href="{% static 'images/letter-f.png' %}">
</head>
<body>

    <div class="navbar">
        <div class="search">
            <a href="{% url 'home' %}" class="logo"> <img src="{% static 'images/letter-f.png' %}" alt="Funza" class="logo-image"> Funza Hub Spot</a>

            <form method="GET" action="{% url 'home' %}" class="search-form">
                <input type="text" name="q" placeholder="Search Rooms...">
            </form>
        </div>

        <div class="auth-links">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="logout">Logout</a>
                <div class="navbar-2">

                    <div class="rounded-avatar">
                        <a href="{% url 'user-profile' user.id %}">
                            <img src="{{ request.user.avatar.url }}" alt="User Profile Picture" class="avatar">
                        </a>
                    </div>
        
                    <a href="{% url 'update-user' %}" class="edit-profile">Settings</a> 
                    
                </div>
            {% else %}
                <button class="auth-button"> <a href="{% url 'login' %}">Login</a> </button>
            {% endif %}
        </div>

        

    </div>

    

</body>
</html>
