.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #302f2f;
    padding: 5px 10px;
    margin: -7px -7px 0 -7px;
    justify-content: space-between;
    color: #FF5733 ;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive, sans-serif;
    font-weight: 600;
    color: #FF5733 ;
}

.logo img {
    max-width: 40px; 
    height: auto;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 90px;
}


.search-form input {
    padding: 10px 40px;
    border: none;
    background-color: #c79d9d;
    border-radius: 5px;
}

.search-form input:hover {
    border: solid 2px #d37e7e;
}

.auth-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    margin-left: 500px;
}

.auth-links a {
    color: #FF5733 ;
    font-size: 17px;
    font-family: cursive;
    font-weight: 600;
}

.auth-links a:hover {
    color: #ff5454;
    text-decoration: underline #ff5454 solid 2px;
}

.auth-button {
    padding: 10px 20px;
    border: none;
    background-color: #c79d9d;
    border-radius: 5px;
    font-size: 17px;
    font-family: cursive;
    color: #fff;
}

/*  Avatar */
.navbar-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-2 a {
    font-size: 16px;
    font-family: cursive sans-serif;
    color: #FF5733 ;
}

.navbar-2 a:hover {
    color: #ff5454;
    text-decoration: underline #ff5454 solid 2px;
}

.rounded-avatar .avatar {
    border-radius: 50%;
    width: 50px;  
    height: 50px; 
    object-fit: cover;
    display: block; 
}


/* Responsive Media */

@media screen and (max-width: 800px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: -10px;
        margin-left: -100px;
    }
}