.profile-cont1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    color: #fff;
}

.profile-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -200px 0 0 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info h3{
    font-size: 25px;
    font-family: cursive sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.profile-info a {
    font-size: 16px;
    font-family: cursive sans-serif;
    font-weight: 600;
    text-decoration: none;
    background: #f52525;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}

.profile-info a:hover{
    background-color: #ec5353;
}

.profile-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-about h3 {
    font-size: 25px;
    font-family: cursive sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.profile-about p {
    font-size: 16px;
    font-family: cursive sans-serif;
    letter-spacing: 1px;
    color: #fff;
    width: 400px;
}

.cont-3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.feed {
    margin-top: 00px;
}

.feed-par {
    margin: 0 0 -25px 20px;
}

.activities {
    margin-top: 00px;
}