{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home-n.css' %}">
    <link rel="icon" href="{% static 'images/letter-f.png' %}">
</head>
<body>

<div class="background">
        

<div class="home-container">

    <div class="sidebar">
        {% include 'base/topic_component.html' %}
    </div>

    <div class="main-content">
        
        <div class="create-room">
            <h5> <img src="{% static 'images/add-post.png' %}" alt="Add Post" class="add-post"> {{ room_count }} available</h5>
            <a href="{% url 'create-room' %}" class="create-room-btn">
                <img src="{% static 'images/add-post.png' %}" alt="Add Post" class="add-post">
                Create a Post
            </a>
        </div>
        

        <div class="feed">
            {% include 'base/feed_component.html' %}
        </div>
    </div>

    <div class="activities">
        {% include 'base/activity_component.html' %}
    </div>

</div>

</div>

</body>
</html>

{% endblock content %}
