{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">

    <div class="">
        
    <h1>{{room.name}}</h1>

    <p>{{room.description}}</p>

    <div class="comment-wrapper">
        <h3>Conversation ({{participants.count}})</h3>
        <hr>

        {% for message in room_messages %}
        <div>
                {% if request.user == message.user %}
                    <small><a href="{% url 'delete-message' message.id %}">Delete</a></small>
                {% endif %}
            <small>@{{message.user}} {{message.created|timesince}} ago </small>

            <p>{{message.body}}</p>
            <hr>
        </div>

        {% endfor %}

        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your messages here...">
            </form>
        </div>

    </div>

    </div>

    <div>
        <h3>Participants ({{participants.count}} Joined)</h3>
        <hr>

        {% for user in participants %}
            <div>
                <a href="{% url 'user-profile' user.id %}">@{{user.username}}</a>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock%}
