{% load static %}
<link rel="stylesheet" href="{% static 'styles/topics_component.css' %}">

<div class="browse-topics">
    <h3>Browse Topics</h3>
    <hr>

    <div class="topic-link">
        <a href="{% url 'home' %}">All Topics</a>
        <span>{{topics.count}}</span>
    </div>

    
</div>

{% for topic in topics %}
        <div class="topic-link-1">
            <div class="topic-links">
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} </a>
            
            </div>
        <span>{{topic.room_set.all.count}}</span>
        </div>
{% endfor %}
